.hero {
}

.hero__content {
  display: flex;
  font-weight: 700;
  font-size: rem(18);
}
.hero__header {
  flex: 1;
}
.hero__title {
  display: inline-block;
  padding-bottom: rem(34);
  border-bottom: 1px solid var(--color-gray-300);

  @media (--mobile) {
    padding-bottom: rem(14);
  }
}

.hero__console {
  --_speed: 8;
  flex: 1;
  position: relative;
  z-index: 0;
  width: 100%;
  height: max(
    200px,
    calc(100svh - (var(--scroll-y, 0) * 100svh * var(--_speed)))
  );
  transition: height 0.3s ease;
  > * {
    position: absolute;
    z-index: -1;
  }
}

.consoleEffect {
  --_speed: 4;
  background-color: var(--color-navy-600);
  border-radius: rem(32);
  width: 500px; // dummy
  min-height: 400px; // dummy
  padding: 10px;
  transform: scale(max(0, calc(1 - (var(--scroll-y) * var(--_speed)))));
  opacity: calc(1 - (var(--scroll-y) * (var(--_speed) * 1.4)));
  transition: transform 0.3s ease;
}

.consoleEffect__content {
  background-color: #fff;
  border-radius: rem(32 - 10);
  padding: 10px;
  height: 100%;
}
