.sectionActivity {
}

.sectionActivity__header {
  margin-bottom: rem(40);
}
.sectionActivity__content {
  padding-inline: var(--size-content-padding);
}
.sectionActivity__profile {
}
.sectionActivity__timeline {
  // display: flex;
  // flex-direction: column;
  // gap: rem(24);
}

@media(--mobile) {
}

@media(--desktop-small) {
  .sectionActivity__content {
    display: flex;
    flex-direction: column-reverse;
    gap: rem(40);
    padding-block: rem(80);
  }
  .sectionActivity__profile {
    // background-color: #f5f5f5;
  }
}

@media(--desktop-large) {
  .sectionActivity__content {
    margin-top: rem(40);
    display: grid;
    gap: rem(24);
    grid-template-columns: auto 1fr;
    padding-block: rem(120);
  }
  .sectionActivity__profile {
    max-width: rem(360);
    > * {
      position: sticky;
      top: calc(var(--size-header-with-safety) + var(--size-header-padding));
    }
  }
}
