.sectionActivity {
}

.sectionActivity__header {}
.sectionActivity__content {
  display: grid;
  gap: rem(38);
  grid-template-columns: auto 1fr;
  margin-top: rem(40);
}
.sectionActivity__profile {
  max-width: rem(360);
  > * {
    position: sticky;
    top: calc(var(--size-header-with-safety) + var(--size-header-padding));
  }
}
.sectionActivity__timeline {
  display: flex;
  flex-direction: column;
  // gap: rem(24);
}

@media(--mobile) {
}

@media(--desktop) {
}
