/**
 * Header Component Styles
 * Site header with logo and navigation
 */

.header {
  --_gap: #{rem(18)};
  --_h: #{rem(60)};
  // padding-block: liquid(18, $minmax: (min: 6, max: 12));
  padding: var(--_gap);
  min-height: var(--_h);
  box-sizing: content-box;
  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(var(--_h) + var(--_gap));
    background: linear-gradient(
      to bottom in oklab,
      var(--color-bg-primary) 20%,
      transparent 100%
    );
    z-index: calc(var(--z-global-header) - 1);
  }
}

.header__content {
  --_side-pad: #{rem(40)};
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - (var(--_gap) * 2));
  min-height: inherit;
  border-radius: rem(30);
  color: var(--color-white);
  background-color: var(--color-navy-600);
  padding: 0 var(--_side-pad);
  z-index: var(--z-global-header);
}

.header__logo {
  :global(.is-top) & {
    --_speed: 8;
    // NOTE: calc-size() がintrinsic size系のプロパティのみでなく、inset系に適用できるようになれば最適化可能
    --_base-pos-top: calc((1.125rem + var(--_h) / 2) - 10.5px);
    --_base-pos-left: calc(var(--_gap) + var(--_side-pad));
    position: fixed;
    top: calc(var(--_base-pos-top) + max(0%, calc((50% - var(--_base-pos-top)) * (1 - var(--scroll-y, 0) * var(--_speed)))));
    left: calc(var(--_base-pos-left) + max(0%, calc((25% - var(--_base-pos-left)) * (1 - var(--scroll-y, 0) * var(--_speed)))));
    transform: translate3d(
      min(0%, max(-50%, calc(-50% * (1 - var(--scroll-y, 0) * var(--_speed))))),
      min(0%, max(-50%, calc(-50% * (1 - var(--scroll-y, 0) * calc(var(--_speed) * 1))))),
      0
    ) scale(max(1, calc(3 - (2 * var(--scroll-y, 0) * var(--_speed)))));
    svg {
      filter: invert(max(0, calc(0.7 - (0.7 * var(--scroll-y, 0) * calc(var(--_speed) * 1)))));
    }
  }
}

.header__nav {
  margin-left: auto;
}

// @media (--mobile) {
//   .header {
//     // padding-inline: rem(20);
//     padding-inline: liquid(20, $minmax: (min: 20, max: 40));
//   }
// }

// @media (--desktop) {
//   .header {
//     padding-inline: liquid(40, $minmax: (min: 20, max: 40));
//   }
// }
