/**
 * Header Component Styles
 * Site header with logo and navigation
 */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: rem(60);
  padding-left: rem(20);
  padding-right: rem(20);
  color: var(--color-white);
  background-color: var(--color-navy-600);

  @media (--desktop) {
    padding-left: rem(40);
    padding-right: rem(40);
  }
}
