.hero {
  --_speed: 1;
  display: grid;
  grid-template-columns: repeat(2, auto);
  font-weight: 700;
  font-size: rem(18);
  height: max(
    rem(400),
    calc(100svh - (var(--scroll-y, 0) * 100svh * var(--_speed)))
  );
  transition: height 0.05s;
}

.hero__console {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: rem(80) rem(40);
}
