.hero {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto);
  font-weight: 700;
  font-size: rem(18);
  height: 100svh;
}

.hero__console {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: rem(80) rem(40);
}
