@mixin line-in-out($y: -2px, $dur: 0.3s) {
  position: relative;
  text-decoration: none;
  &::after {
    content: '';
    position: absolute;
    bottom: $y;
    right: 0;
    width: 0;
    height: 1px;
    background-color: currentColor;
    transition: width $dur ease-in-out;
  }
  @media (--hover) {
    &:hover::after {
      width: 100%;
      left: 0;
      right: auto;
    }
  }
}
