@mixin _fluid-font-size {
  font-size: calc(
    var(--_font-size-base) +
    var(--font-size-step) * var(--font-size-level)
  );
}

@mixin typography-nav($size: 'medium', $weight: 500) {
  font-family: var(--font-rubik);
  font-weight: $weight;
  line-height: 1.4;

  @if ($size == 'small') {
    --font-size-level: -1;
  } @else if ($size == 'medium') {
    --font-size-level: 0;
  } @else if ($size == 'large') {
    --font-size-level: 1;
  }
  @include _fluid-font-size;
}

@mixin typography-heading($size: 'medium', $weight: 600) {
  font-family: var(--font-rubik);
  font-weight: $weight;
  line-height: 1.4;
  letter-spacing: -0.01em;

  @if ($size == 'small') {
    --font-size-level: 14;
  } @else if ($size == 'medium') {
    --font-size-level: 18;
  } @else if ($size == 'large') {
    --font-size-level: 24;
  }
  @include _fluid-font-size;
}

@mixin typography-description($size: 'medium', $weight: 400) {
  font-weight: $weight;
  line-height: 1.4;
  letter-spacing: 0.02em;

  @if ($size == 'medium') {
    --font-size-level: 12;
  } @else if ($size == 'xsmall') {
    --font-size-level: -5;
  } @else if ($size == 'large') {
    --font-size-level: 16;
  } @else if ($size == 'xlarge') {
    --font-size-level: 20;
  }
  @include _fluid-font-size;
}
