.content {
  width: min(rem(1280), 100%);
  margin-inline: auto;
  padding-inline: var(--size-content-padding);
  &.-narrow {
    width: min(rem(980), 100%);
  }
}

@media(--mobile) {
}

@media(--desktop) {
}
