.u-details-dropdown {
  position: relative;
  &[open] {
    > summary {
      cursor: default;
      z-index: -1;
      &::before {
        display: block;
      }
    }
  }
  > summary {
    cursor: pointer;
    &::before {
      content: '';
      display: none;
      position: fixed;
      inset: 0;
    }
    &::after {
      content: '';
      display: inline-block;
      width: 0;
      border-left: rem(4) solid transparent;
      border-right: rem(4) solid transparent;
      border-top: rem(5) solid currentColor;
      transition: transform 0.2s ease;
      [open] & {
        transform: rotate(180deg);
      }
    }
  }
}

