@keyframes effect-progress-x {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.u-effect {
  &[data-effect-root="progress-x"] {
    view-timeline-name: --section-progress;
  }

  &[data-effect="line-in-out"] {
    @include line-in-out;
  }

  &[data-effect="progress-x"] {
    position: relative;
    overflow: hidden;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      animation: effect-progress-x 1s linear both;
      animation-timeline: --section-progress;
      animation-range: entry 100% exit 0%;
    }
  }

  &[data-effect="anchor-hover"] {
    position: relative;
    z-index: 0;
    > *:is(:hover) {
      anchor-name: --item;
    }
    @media (--hover) {
      &:has(> *:hover) {
        &::before {
          opacity: 1;
        }
      }
    }
    &::before {
      content: '';
      position: absolute;
      position-anchor: --item;
      inset:
        anchor(top)
        anchor(right)
        anchor(bottom)
        anchor(left);
      border-radius: var(--corners-md);
      transition:
        inset 0.25s,
        opacity 0.2s;
      opacity: 0;
      z-index: -1;
      background:
        // グロー効果
        linear-gradient(
          45deg,
          transparent,
          rgba(120, 190, 255, 0.1),
          /*rgba(170, 140, 255, 0.12),*/
          rgb(210, 255, 201, 0.1), /* green */
          transparent
        ),
        // ベース
        rgba(255, 255, 255, 0.05);
    }
  }
}
