@media (--mobile) {
  .u-mobile-hidden {
    display: none;
  }
}

@media (--desktop-small) {
  .u-desktop-small-hidden {
    display: none;
  }
}

@media (--desktop) {
  .u-desktop-hidden {
    display: none;
  }
}
