.socialButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(40);
  height: rem(40);
  font-size: rem(20);
  color: var(--_color, #000);
  background-color: var(--color-white);
  border: none;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  svg path {
    fill: currentColor;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }

  &:active {
    transform: translateY(0);
  }
}
