.pageWysiwyg {
  display: flex;
  flex-direction: column;
  color: var(--color-text-primary);
  line-height: 1.8;
  letter-spacing: 0.04em;
  font-weight: 500;

  > h2,
  > h3 {
    scroll-margin-top: 1em;
  }

  h2 {
    font-size: rem(28);
    font-weight: 700;
    border-bottom: 3px solid var(--color-border-default);
  }

  h3 {
    display: flex;
    gap: 0.25em;
    font-size: rem(23);
    font-weight: 600;
    &::before {
      content: '';
      width: 3px;
      height: 1lh;
      background-color: var(--color-border-default);
    }
  }

  h4 {
    font-size: rem(18);
    font-weight: 600;
  }

  img {
    border-radius: var(--corners-md);
    max-width: 100%;
  }

  ul,
  ol {
    padding-left: rem(24);
  }

  ul {
   @include list-bullet;
  }

  ol {
    @include list-number;
  }

  a {
    color: var(--color-alt-blue-100);
    text-decoration: underline;

    &:hover {
      opacity: 0.7;
    }
  }
}

@media(--mobile) {
  .pageWysiwyg {
    gap: rem(16);
    > p + :is(h2, h3, h4) {
      margin-top: rem(8);
    }
  }
}

@media(--desktop) {
  .pageWysiwyg {
    gap: rem(24);
    > :not(:is(h2, h3, h4)) + :is(h2, h3, h4) {
      margin-top: rem(16);
    }
  }
}
