.gnav__list {
  display: flex;
  align-items: center;
}

.gnav__item {
  @include is-supported('anchor-position') {
    padding-inline: rem(8);
  }
  a {
    display: inline-block;
    @include typography-nav('small');
    @include support-switch('anchor-position') using ($mode) {
      @if $mode == supported {
        padding: rem(8) rem(6);
      }
      @else {
        @include line-in-out;
      }
    }
  }
}
