/**
 * PostCard Component Styles
 * Blog post card for listing pages
 */
.postCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: rem(16) rem(25);
  background-color: var(--color-white);
  border-radius: rem(6);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  a {
    view-transition-name: var(--slug);
  }
}

.postCard__origin {
  margin-bottom: rem(5);
}

.postCard__title {
  margin-bottom: rem(7);
  font-size: rem(18);
  font-weight: 700;
  @media (--desktop) {
    font-size: rem(21);
  }
}

.postCard__tags {
  margin-bottom: rem(7);
}

.postCard__meta {
  margin-top: auto;
}
