.about__content {
  display: flex;
  flex-direction: column;
  padding-block: var(--size-page-block-padding);
}

.about__profile {
  width: fit-content;
  margin-inline: auto;
  margin-top: rem(40);
}

.about__title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: var(--color-text-400);

  @media (--mobile) {
    font-size: 2rem;
  }
}

.about__body {
  background: var(--color-white);
  border-radius: var(--corners-lg);
  padding: rem(32) rem(24);
  margin-top: rem(20);
  // @media (--mobile) {
  //   padding: rem(25) rem(20);
  // }
}
