.tag {
  display: inline-block;
  padding: rem(2) rem(8);
  font-size: rem(12);
  font-weight: bold;
  color: var(--color-white);
  background-color: var(--color-navy-600);
  border-radius: var(--corners-sm);
}
