/**
 * Footer Component Styles
 * Site footer with social links and menu
 */

.footer {
  padding-bottom: rem(15);
  color: var(--color-white);
  background-color: var(--color-navy-600);
}

.footer__content {
  padding-left: rem(20);
  padding-right: rem(20);
  text-align: center;

  @media (--desktop) {
    padding-left: rem(40);
    padding-right: rem(40);
  }
}

.footer__socialList {
  display: inline-flex;
  gap: rem(8);
  align-items: center;
  flex-wrap: wrap;
  padding: rem(8) rem(32);
  margin: 0;
  list-style: none;
  background-color: var(--color-navy-400);
  border-radius: 0 0 rem(16) rem(16);

  --_surface-radius: #{rem(16)};
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    block-size: var(--_surface-radius);
    aspect-ratio: 1;
    corner-shape: scoop;
    background-color: var(--color-navy-400);
    @include is-not-supported('corner-shape') {
      display: none;
    }
  }
  &::before {
    border-bottom-right-radius: 100vmax;
    left: 100%;
  }
  &::after {
    border-bottom-left-radius: 100vmax;
    right: 100%;
  }
}

.footer__socialItem {
  display: block;
  font-size: rem(19.2);
  border-radius: var(--corners-sm);
  padding: rem(6);
  background-color: rgba(#fff, 0);
  transition: background-color 0.2s;
  @media (--hover) {
    &:hover {
      background-color: rgba(#fff, 0.1);
    }
  }
}

.footer__menu {
  margin-top: rem(13);
}

.footer__copyright {
  margin-top: rem(9);
  text-align: center;

  small {
    font-size: rem(12);
  }
}
