/**
 * BadgeOrigin Component Styles
 * Origin badge showing the source of the post
 */

.badgeOrigin {
  display: flex;
  align-items: center;
  font-size: rem(12);
  font-weight: 700;
}

.badgeOrigin__logo {
  // Logo image
}

.badgeOrigin__text {
  margin-left: rem(8);
  font-size: rem(13.6);

  &:first-child {
    margin-left: 0;
  }
}
