/**
 * ListTag Component Styles
 * List of tag badges
 */

.listTag {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.listTag__item {
  margin-right: rem(10);
}
