/**
 * Tag Component Styles
 * Tag badge for categorization
 */

.tag {
  display: inline-block;
  padding: 0 rem(6);
  font-size: rem(12);
  font-weight: 700;
  color: rgb(var(--white));
  background-color: rgb(var(--navy-600));
  border-radius: rem(4);
}
