@view-transition {
  navigation: auto;
}

:where(body) {
  font-family: var(--font-sans);
  word-wrap: break-word;
  background-color: var(--color-bg-primary);
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'palt';
}

:where(body),
:where(body *) {
  --_font-size-min: 14;
  --_font-size-max: 16;
  --_vw-min: 375;
  --_vw-max: 1366;
  --_font-size-base: clamp(
    calc(var(--_font-size-min) * 1px),
    calc(
      var(--_font-size-min) * 1px +
      (var(--_font-size-max) - var(--_font-size-min)) *
      (100vw - var(--_vw-min) * 1px) /
      (var(--_vw-max) - var(--_vw-min))
    ),
    calc(var(--_font-size-max) * 1px)
  );
  font-size: calc(
    var(--_font-size-base) +
    var(--font-size-step) * var(--font-size-level)
  );
}

:where(code) {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

:where(a) {
  text-decoration: none;
}
