:where(body) {
  --_font-size: clamp(
    14px,
    calc(14px + (2 * (100vw - 375px) / 1366)),
    16px
  );
  font-family: var(--font-sans);
  font-size: var(--_font-size);
  word-wrap: break-word;
  background-color: #F6F6F6;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'palt';
}

:where(code) {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

:where(a) {
  text-decoration: none;
}
